@use "_variables" as *;

/*  
    ----------------------------------------------------- § DESKTOP
*/

@media screen and(min-width:$desktop-width) {
  .card-container {
    max-width: 1000px;
    padding: 0;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .card__picture-container {
    margin: 0;

    img,
    source {
      width: 485px;
    }
  }

  .card__title {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }

  .card__text-container {
    text-align: left;
    padding: 2.5rem 4.3rem;
  }

  .card__text {
    line-height: 1.5em;
    letter-spacing: -0.05em;
    padding-right: 5rem;
    margin-bottom: 4.5rem;
  }

  .card__meta {
    display: inline-block;
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      margin-right: 3.8rem;
    }
  }

  .card__meta__stat {
    font-size: 1.4rem;
    margin-bottom: 0.2em;
  }

  .card__meta__title {
    font-size: 0.7rem;
  }
}
