// Primary colors
$dark-blue: hsl(233, 47%, 7%); // main background
$dark-desaturated-blue: hsl(244, 38%, 16%); // card background
$violet: hsl(277, 64%, 61%); // Accent

// Neutral colors
$white: hsl(0, 0%, 100%); // main heading, stats
$slightly-transparent-white: hsla(0, 0%, 100%, 0.75); // main paragraph
$slightly-transparent-white2: hsla(0, 0%, 100%, 0.6); // stats heading

// Typography
$body-font: "Inter", sans-serif;
$accent-font: "Lexend Deca", sans-serif;

$base-font-size: 15px;

/*  
    ----------------------------------------------------- § HTML
*/
html {
  font-size: $base-font-size;
}

body {
  background-color: $dark-blue;
  color: $slightly-transparent-white;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: $accent-font;
  color: $white;
  font-size: 2rem;

  span {
    color: $violet;
  }
}

/*  
    ----------------------------------------------------- § STRUCTURE
*/

.page {
  display: flex;
  align-items: center; /* Centrato verticalmente */
  justify-content: center; /* Centrato orizzontalmente */
  min-height: 100vh; /* Nel caso, definire l'altezza */
}

.card-container {
  border-radius: 20px;
  overflow: hidden;
  display: block;
  width: 90%;
}

.card {
  text-align: center;
  background-color: $dark-desaturated-blue;
}

.text-container {
  padding: 2.5rem;
}

/*  
    ----------------------------------------------------- § TYPOGRAPHY
*/

.page__title {
  display: none;
}

.card__meta__stat {
  font-size: 1.6rem;
  color: $white;
  font-weight: bold;
}

.card__meta__title {
  text-transform: uppercase;
  color: $slightly-transparent-white2;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

/*  
    ----------------------------------------------------- § IMAGES
*/

.card__picture-container {
  source,
  img {
    width: 100%;
  }
}
